HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node.js and React build artifacts ###
/node_modules/   # Dependencies for Node.js
/frontend/build/ # React production build

### Environment files ###
.env
*.env

### Log files ###
*.log

### Maven wrapper files ###
.mvn/

### Ignore operating system files ###
.DS_Store       # macOS system files
Thumbs.db       # Windows system files
